<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/styles.css">
    <%- include('links') %>
  </head>
  <body>
    <%- include('navbar'); %>
    <div id="intro">
      <section class="header">
        <div class="text">
          <a class="intro-text"><strong class="get-started">Change your Life. <br> Start Now.</strong></a>
        </div>
        <div class="iphone">
          <img src="../pictures/iphonex_pic.png" />
        </div>
        <div class="cash-sign">
          <img src="../pictures/cash_sign.png" height="100px" width="100px"/>
        </div>
        <div class="demo">
          <a href="demo" class="demo-button">Demo</a>
        </div>

      </section>
    </div>

    <%- include('file_ending'); %>
