<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/styles.css">
<nav id="navbar">
  <ul>

    <li>
      <a href="login"><strong class="login">Login</strong></a>
    </li>
    <li>
      <a href="features"">Features</a>
    </li>
    <li>
      <a href="about">About</a>
    </li>
    <li>
      <a href="home">Home<i class="fa fa-home"></i></a>
    </li>
    <li>
      <a id="simstocks">SimStocks</a>
    </li>


  </ul>
</nav>
