@media screen and (min-width: 1920px) {
  .stock-analyst {
    position: absolute;
    left: 30%;
    top: 22%;
    height: 450px;
    width: 800px;
    border-radius: 8px;
  }

  .about-us {
    position: absolute;
    top: 72%;
    padding: 0 400px 0 400px;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1919px) {
  .stock-analyst {
    position: absolute;
    left: 20%;
    top: 27%;
    height: 450px;
    width: 800px;
    border-radius: 8px;
  }

  .about-us {
    position: absolute;
    top: 100%;
    padding: 0 100px 0 100px;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }
}
